.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #000000;
}

.text {
  color: #000000;
}

/* ------------------------------- NAVIGATION BAR STYLES ------------------------------- */

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  transition: all 0.3s ease-in-out;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Adjust z-index as needed */
}

.floating-btn {
  width: auto;
  height: auto;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
  background-color: #ff542f;
  border: none;
  color: white;
  padding: 12px 18px;
  text-align: center;
  display: flex;
  font-size: 16px;
  flex-direction: row;
  border-radius: 50px;
  cursor: pointer;
  left: 50px;
  top: 50px;
  gap: 12px;
}

.floating-btn:hover {
  transition: all 0.2s ease-in-out;
  width: auto;
  height: auto;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
  background-color: #ff542f;
  border: none;
  color: white;
  padding: 12px 18px;
  text-align: center;
  display: flex;
  font-size: 16px;
  flex-direction: row;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  
}

/* ------------------------------- HOME PAGE STYLES ------------------------------- */

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
  height: 60px;
  position: fixed;
  z-index: 1;
  background-color: #ff542f;
  /* padding: 0 8px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* position: absolute; */
  top: 140px;
}

.nav-menu-items {
  /* display: flex; */
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80%;
  width: 100%;
  align-items: center;
  gap: 40px;
  margin: 0 8px;
}
.page-title {
  font-size: 60px;
  font-weight: 700;
  color: #2d2d2d;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  letter-spacing: 8px;
  text-align: center;
  text-transform: uppercase;
}

.title {
  font-size: 144px;
  font-weight: 700;
  color: #2d2d2d;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: start;
  letter-spacing: 4px;
  line-height: 10rem;
}
.titleOutline {
  font-size: 144px;
  font-weight: 700;
  color: #2d2d2d;
  letter-spacing: 4px;
}
.sub-title {
  font-size: 18px;
  /* width: 50%; */
  flex-wrap: wrap;
  line-height: normal;
  margin: 12px;
}
.button {
  margin-top: 28px;
  background-color: #ff542f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
  flex-direction: row;
  gap: 12px;
}

.button-outline {
  margin-top: 28px;
  background-color: transparent;
  border: none;
  color: #ff542f;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  gap: 12px;
  font-size: 16px;
  text-transform: capitalize;
  outline: 2px solid #ff542f;
  cursor: pointer;
  letter-spacing: 1px;
}
.button-outline:hover {
  transition: all 0.2s ease-in-out;
  margin-top: 28px;
  background-color: #ff542f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  gap: 12px;
  font-size: 16px;
  text-transform: capitalize;
  outline: 2px solid #ff542f;
}

/* ------------------------------- layout ------------------------------- */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* width: 80vw; */
  height: 100vh;
  margin: 0;
}
.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.intro-section {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  /* margin-bottom: 10px; */
  white-space: pre-line;
  background-color: antiquewhite;
  /* flex-wrap: wrap; */
  line-height: normal;
  text-align: left;
  /* padding-left: 80px;
  padding-right: 80px;
  padding-top: 40px; */
  /* padding-bottom: 40px; */
}

.intro-text {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 85%;
  text-wrap: wrap;
  line-height: normal;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 40px; 
}


.intro-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  float: inline-end;
}
.about-section {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-bottom: 10px;
  width: 80vw;
}
.image {
  width: 90%;
  height: 90%;
}
.experience-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 10px; */
}
.portfolio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  /* margin: 16px; */
  gap: 30px;
}

/* ------------------------------- general component styles -------------------------------*/
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24vh;
  width: 18vw;
  border-radius: 16px;
  /* background-color: #FF542F; */
  /* gap: 8px; */
  position: relative;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
}

.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
  /* gap: 24px; */
  width: 80%;
}

.card-image {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
  object-position: 50% 50%;
  position: absolute;
  z-index: 0;
}

.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  font-weight: bold;
  letter-spacing: 2.5px;
  color: #efefef;
  font-size: 28px;
  text-transform: uppercase;
}

.card-blur {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
  object-position: 50% 50%;
  position: absolute;
  background: #000000;
  background: -webkit-linear-gradient(0deg, #0d0d0dae 0%, #fdfdfd20 100%);
  background: linear-gradient(0deg, #0d0d0dae 0%, #fdfdfd20 100%);
  z-index: 1;
}

.card :hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
/*------------------------------- SOFT SKILLS STYLES -------------------------------*/
.skills-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  /* width: 60%; */
}
.skills-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  /* width: 25%; */
  /* padding: 10px; */
  /* background-color: #b27e7e; */
  color: aliceblue;
  margin-left: 12px;
  margin-right: 12px;
  max-width: 40%;
  /* min-width: 30%; */
  /* max-height: 80%; */
  font-size: 13px;
  text-align: start;
}
.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  /* gap: 50px; */
}
.skills-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  /* background-color: #FF542F; */
  max-width: 60%;
  margin: 0;
}

.skills-border {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  /* margin-bottom: 10px; */
  /* position: absolute; */
  width: 100%;
  /* height: 50%; */
  /* padding: 10px; */
  /* background-color: #3d3d3d; */
  color: aliceblue;
  margin: 0;
  padding: 12px;
}

.top-border {
  border-top: 4px solid #2d2d2d;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  /* background-color: whitesmoke; */
}
.mid-border {
  background-color: #2d2d2d;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 250px;
  /* position: relative; */
  margin-top: 15px;
}
.bottom-border {
  border-top: 4px solid #2d2d2d;
  /* bottom: 40%; */
  align-items: center;
  justify-content: center;
  width: 100%;
  /* position: absolute; */
}

.sub-text {
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-top: 32px;
  width: 70%;
}

.round-head {
  width: 20px;
  height: 20px;
  background-color: #000000;
  border-radius: 50%;
  /* object-fit: cover; */
  position: relative;
  float: right;
  /* top: -5px; */
  left: -5px;
  /* left: 0; */
}

.line {
  width: 60%;
  height: 4px;
  object-fit: cover;
  /* position: absolute; */
  z-index: 0;
  background-color: #000000;
}

.date-line {
  width: 100%;
  height: 8%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  padding-left: 24px;
  /* background-color: #b59791; */
}
.timeline {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: start;
  justify-content: left;
  /* display: flex; */
  /* background-color: #a9604f; */
  /* gap: 12px; */
}

.date {
  font-size: 24px;
  margin-top: 8px;
  text-align: left;
  font-weight: bold;
  letter-spacing: .8px;
}

.timeline-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
}

/* ----------------------------- HOVER CARD STUFF ------------------------------- */
.card {
  position: relative;
  width: 200px;
  height: 150px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card-content {
  padding: 20px;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
}

/* ----------------------------- GRID STYLES STUFF ------------------------------- */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the column width as needed */
  grid-gap: 20px; /* Adjust the gap between grid items */
}

.grid-item {
  text-align: center;
}

.grid-item img {
  max-width: 100%;
  height: auto;
}


